{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/homepage.css" >
{% endblock %}

{% block navbar %}
{% include 'partials/navbar_homepage.html' %}
{% endblock %}


{% block content %}
<div class="container-fluid mb-5 mt-3" id="over">

    <h1 id="top-text">All Commandments</h1><hr>
        <form method="get">
            {{ filter.form }}
            <button type="submit">Search</button>
        </form>
    <hr>
    <h3>Total: {{ filter.qs.count }}</h3>
    <div class="row">
        {% for commandment in filter.qs %}
        <div class="col-sm-3">
            <div class="container" style="margin-top: 25px">
                <div class="card">
                    <div class="card-body" id="con-body">
                        Order: {{ commandment.my_order }}<br>
                        Commandment: {{ commandment.mitzvah }}<br>
                        Book: {{ commandment.book }}<br>
                        Parsha: {{ commandment.parsha }}<br>
                        <a class="btn btn-warning" href="{% url 'commandments_app:mitzvah_details' commandment.pk %}">More Info</a>
                        {% if user.is_superuser %}
                            <p>Hello God</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
