{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/faq.css" >
{% endblock %}


{% block navbar %}
{% include 'partials/navbar_index.html' %}
{% endblock %}


{% block content %}
<div class="container-fluid" id="over">
    <div class="row justify-content-center align-items-stretch" id="box">
        <div class="col-6">
            <div class="card">
                <div class="card-body" id="text-in-box">
                    <p>
                    FAQ<br>
                    <br>
                    Q: What’s wrong with the 613 commandments?
                    <br>
                    A: Nothing wrong. However, not all of them are applicable in a time without the Temple in Jerusalem.<br>
                    <br>
                    Q. How many commandments are potentially applicable today?
                    <br>
                    A: According to the Chafetz Chaim, “The Little Book of Mitzvoth”, a total of 273xxx are applicable today, however the exact total can vary widely depending on the exact circumstances of the individual (hence the creation of this site).<br>
                    <br>
                    Q: What is the source for your listing of the commandments? I understand there are a number of lists that don’t agree with each other.
                    <br>
                    A: Our source is the “Sefer Hachinuch”, cross referenced where possible with Maimonides. All authoritative lists agree on a total of 613 Biblical commandments, however it is correct that various authorities have different choices of what the 613 are.<br>
                    <br>
                    Q: Is it true that some commandments “repeat” themselves?
                    <br>
                    A: Each commandment makes a particular point, however there are a number of commandments that strongly resemble each other, such as “Don’t desecrate the Sabbath”, and “Keep the Sabbath”. We provide a function to consolidate such parallel commandments.<br>
                    <br>
                    Q: I find that many commandments that are listed for me are not particularly relevant.
                    <br>
                    A: That’s fine. You can “hide” it, or make a group of the less relevant ones. (For example people will group all the various commandments on Illicit Relations into one – they got the point).<br>
                    <br>
                    Q: Are these commandments just for Jews or do they apply to people of other faiths?
                    <br>
                    A: According to Jewish tradition the 613 commandments (or their derivatives) only apply to Jews. Non-Jews are only obligated in what is known as the 7 Noachide commandments, though many of the other commandments are fairly good advice. It’s recommended that you seek religious guidance within your own faith or tradition.<br>
                    <br>
                    Q: Am I a bad person if I don’t keep the commandments?
                    <br>
                    A: Nobody is perfect. We all have our work cut out for us. An idea of the list is to enable a person to prioritize the commandments they want to work on. Good luck.<br>
                    <br>
                    Q: Are you Rabbis?
                    <br>
                    A: Some of the contributors have Rabbinic ordination. However this program does not have any formal Rabbinic supervision or approval, though a few thought it was really cool.<br>
                    <br>
                    Q: What makes you qualified to present this material?
                    <br>
                    A: Nothing in particular. Read a lot. Asked a lot of questions. We like making lists and no one else was doing anything like this.<br>
                    <br>
                    Q: This is a great idea. How can we help out?
                    <br>
                    A: Donations will go a big way. See Support and Participate pages. If you have more ambitious ideas, don’t hesitate to be in touch.<br>
                    <br>
                    Q: Are you connected or affiliated with any organization?
                    <br>
                    A: No. But would be happy for some organization to bankroll us.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}