{% extends 'base.html' %}

{% block navbar %}
{% include 'partials/navbar_homepage.html' %}
{% endblock %}


{% block content %}
<h1 style="margin-top: 70px">Films</h1><hr>
{% for film in films %}
<div class="container" style="margin-top: 25px">
    <div class="card">
        <div class="card-body">
            Titles: {{ film.title }}<br>
            Categories: {{ film.category.all | join:', ' }}<br>
            Director: {{ film.director }}<br>
            Release Date: {{ film.release_date }}<br>
            Country: {{ film.country }}<br>
            Stars: {% for _ in "x"|rjust:film.rate %}*{% endfor %}<br>
            {% if user.is_superuser %}
            <a class="btn btn-warning" href="{% url 'film_app:updatefilm' film.id %}">Update Film</a>
            <a class="btn btn-warning" href="{% url 'film_app:update_director' film.director.id %}">Update Director</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
